@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/breakpoints/_breakpoints.scss";

#craft{
    margin-top: variables.$space-between-sections;

    h2{
        padding-inline: variables.$wrapper;
        font-size: 80px;
        text-align: right;
    }

    .craft-description{
        margin-top: 80px;
        display: flex;
        align-items: center;

        .craft-description-image{
            width: 60%;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }

        .craft-description-text{
            margin-left: -100px;
            height: 80%;
            width: 40%;
            background-color: colors.$red;
            padding: 80px;
            color: white;
            border-radius: 40px;
            font-size: 25px;
        }
    }

    @include breakpoints.media("<=phone"){
        h2{
            font-size: 50px;
            text-align: center;
        }

        .craft-description{
            flex-direction: column;

            .craft-description-image{
                width: 100%;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
    
            .craft-description-text{
                margin: 0;
                width: 100%;
                border-top-right-radius: 0;
                border-top-left-radius: 0;

            }
        }
    }
}