@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/abstracts/_typography.scss";
@use "@/scss/breakpoints/_breakpoints.scss";

#workshop-topic-hero{
    width: 100%;
    height: 100%;
    position: relative;

    .workshop-topic-hero-image{
        width: 100vw;
        height: 100vh;
    }

    .workshop-topic-hero-title{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .workshop-topic-hero-title h1{
        max-width: calc(100% - 30px);
        background-color: colors.$blue;
        padding: 20px 80px;
        text-align: center;
        color: white;
        border-radius: 40px;
        margin: 0 auto;
    }

    .book-button{
        position: absolute;
        bottom: 10%;
        right: 10%;
        background-color: colors.$red;
        color: white;
        border-radius: 40px;
        padding: 20px 40px;
        font-size: 40px ;
    }

    @include breakpoints.media("<=phone"){

        .workshop-topic-hero-image{
            width: 100%;
            height: 50vh;
        }
        .workshop-topic-hero-title{
            padding-inline: 0;
            h1{
                padding: 10px 20px;
                text-align: center;
                font-size: typography.$font-size-xl;
            }
        }

        .book-button{
            right: 5%;
            bottom: -10%;
        }
    }

    @include breakpoints.media(">phone", "<=tablet"){
        height: 50vh;
        .workshop-topic-hero-image{
            width: 100%;
            height: 50vh;
        }

        .workshop-topic-hero-title{
            padding-inline: 0;
            h1{
                font-size: typography.$font-size-xl;
            }
        }

        .book-button{
            right: 5%;
            bottom: -10%;
        }
    }

    @include breakpoints.media(">tablet", "<=desktop"){
        height: 50vh;
        .workshop-topic-hero-image{
            width: 100%;
            height: 50vh;
        }

        .workshop-topic-hero-title{
            padding-inline: 0;
            h1{
                font-size: typography.$font-size-xl;
            }
        }

        .book-button{
            right: 5%;
            bottom: -10%;
        }
    }

    @include breakpoints.media(">desktop", "<=LGdesktop"){
        height: 50vh;
        .workshop-topic-hero-image{
            width: 100%;
            height: 50vh;
        }

        .workshop-topic-hero-title{
            padding-inline: 0;
            h1{
                font-size: typography.$font-size-xl;
            }
        }

        .book-button{
            right: 5%;
            bottom: -10%;
        }
    }
}