h1{
    font-size: 100px;
    padding-top: 80px;
}

p{
    font-size: 18px;
}

.hero{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


main>section>img{
    width: 900px;
    height: 554px;
}

.hero-title{
    padding-right: 150px;
    line-height: 100px;
}

.about-us{
    margin-top: 100px;
    padding-inline: 50px;
    display: flex;
}

.about-us-text{
    padding-block: 150px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.map-routing-button{

}