@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/breakpoints/_breakpoints.scss";


.logo{
    width: 80px;
    height: 80px;
}

header{
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100vw;
    background-color: colors.$blue;
    padding-inline: variables.$wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .nav_left_links{
        display: flex;
        align-items: center;
        gap: 80px;

        .nav_links{
            display: flex;
            gap: 20px;
        
            &_link{
                cursor: pointer;
                background-color: colors.$yellow;
                color: white;
                font-weight: bold;
                padding: 10px 20px;
                border-radius: 20px;
            }
        }
    }

    .nav_register_links{
        display: flex;
        gap: 50px;

        .btn{
            cursor: pointer;
        }
    }

    @include breakpoints.media("<=phone"){

        padding: 0;

        .nav_left_links{
            .nav_links{
                display: none;
            }
        }

        .nav_register_links{
            display: none;
        }
        
    }
}

