@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/breakpoints/_breakpoints.scss";




#about-us{
    position: relative;
    background-color: colors.$yellow;
    margin-top: 250px;
    padding-inline: variables.$wrapper;
    padding-block: 57px;

    .person{
        height: 120%;
    }

    img{
        position: absolute;
        right: 20%;
        bottom: 0;
    }

    .about-us-description{
        padding-left: 350px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;

        p{
            color: white;
            padding: 20px;
            width: 50ch;
        }

        .map_directing_button{
            background-color: colors.$red;
            color: white;
            padding: 15px 30px;
            border-radius: 30px;
        }
    }

    @include breakpoints.media("<=phone"){
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 30px;
        height: fit-content;

        .person{
            width: 50%;
            bottom: -200px;
            right: 20px;
        }
        
        .about-us-description{
            padding: 0;
            align-items: flex-start;

            p{
                text-align: justify;
                padding: 0;
                width: 40ch;
            }
        }
    }

    @include breakpoints.media(">phone", "<=tablet"){
    
        margin-top: 800px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 50px;
        height: fit-content;
        padding: 0;

        .person{
            height: 120%;
            bottom: 100%;
        }
        
        .about-us-description{
            padding: 0;
            width: 100%;
            padding-block: 50px;
            align-items: center;

            p{
                text-align: center;
                padding: 0;
                width: 40ch;
            }
    }
}

    @include breakpoints.media(">tablet", "<=desktop"){
        margin-top: 800px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 50px;
        height: fit-content;
        padding: 0;

        .person{
            height: 120%;
            bottom: 100%;
        }
        
        .about-us-description{
            padding: 0;
            width: 100%;
            padding-block: 50px;
            align-items: center;

            p{
                text-align: center;
                padding: 0;
                width: 40ch;
            }
        }
    }

    @include breakpoints.media(">desktop", "<=LGdesktop"){
        margin-top: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 50px;
        height: fit-content;

        .person{
            height: 120%;
            right: 10%;
        }
        
        .about-us-description{
            padding-left: 200px;
            align-items: flex-start;

            p{
                text-align: justify;
                padding: 0;
                width: 40ch;
            }
        }
    }

}