@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_typography.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/breakpoints/_breakpoints.scss";




#features{
    padding-inline: variables.$wrapper;
    padding-block: 38px;
    margin-top: variables.$space-between-sections;
    background-color: colors.$blue;

    h2{ //i am going to remove it if there are more white h2
        color: white;
    }

    .features{
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    
        &_feature{
            padding: 30px;
            display: flex;
            flex-direction: column;
            background-color: white;
            color: white;
            border-radius: 20px;
            
    
            &_title{
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
    
                &_icon{
                    background-color: colors.$red;
                    padding: 10px;
                    border-radius: 20px;
                    width: 50px;
                    height: 50px;
                }

                h3{
                    padding: 20px;
                    color: colors.$red;
                    border-radius: 20px;
                }
            }

            &_description{
                text-align: justify;

                p{
                    background-color: colors.$green;
                    padding: 20px;
                    border-radius: 20px;
                }
            }
        }
    }

    
    @include breakpoints.media("<=phone"){
        margin-top: 200px;
        text-align: center;

        h2{
            font-size: typography.$font-size-xl;
        }
        .features{
            grid-template-columns: 1fr;

            &_feature{
                &_title{
                    h3{
                        font-size: typography.$font-size-lg;
                    }
                }
            }
        }
    }
}
