@use "@/scss/abstracts/_variables.scss";
@use "@/scss/abstracts/_colors.scss";
@use "@/scss/breakpoints/_breakpoints.scss";



#workshops {
    padding-inline: 250px;
    padding-top: variables.$space-between-sections;

    .workshops {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        &-one-to-three {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .workshop-item {
                width: 100%;
                padding: 60px;
                border-radius: 30px;

                h3 {
                    color: white;
                }

                &.one {
                    background-image: url(/images/workshop-1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: 50%;
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                &.two {
                    background-image: url(/images/workshop-2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: 50%;
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                &.three {
                    background-image: url(/images/workshop-3.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: 50%;
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
            }


        }

        &-fourth {
            background-image: url(/images/workshop-4.jpg);
            background-size: cover;
            border-radius: 30px;
            background-repeat: no-repeat;
            color: white;

            .workshop-item-expanded {
                grid-column: 2/3;
                grid-row: 1/4;
                padding: 30px;
            }
        }
    }

    @include breakpoints.media("<=phone") {
        padding-inline: 0;

        .workshops {
            grid-template-columns: 100%;

            &-one-to-three {

                .workshop-item {
                    width: 80%;
                    height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-fourth {
                margin: 0 auto;
                width: 80%;

                .workshop-item-expanded {
                    height: 350px;
                    grid-column: 1/2;
                    grid-row: 3/4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }

    @include breakpoints.media(">phone", "<=tablet") {
        padding-inline: 0;

        .workshops {
            grid-template-columns: 100%;

            &-one-to-three {

                .workshop-item {
                    width: 80%;
                    height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-fourth {
                margin: 0 auto;
                width: 80%;

                .workshop-item-expanded {
                    height: 350px;
                    grid-column: 1/2;
                    grid-row: 3/4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }

    @include breakpoints.media(">tablet", "<=desktop") {
        padding-inline: 0px;

        .workshops {
            grid-template-columns: 100%;

            &-one-to-three {

                .workshop-item {
                    width: 80%;
                    height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-fourth {
                background-position-y: 30%;
                margin: 0 auto;
                width: 80%;

                .workshop-item-expanded {
                    height: 350px;
                    grid-column: 1/2;
                    grid-row: 3/4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }

    @include breakpoints.media(">desktop", "<=LGdesktop") {
        padding-inline: 80px;

        .workshops {
            margin: 0 auto;

            &-one-to-three {

                .workshop-item {
                    width: 100%;
                    padding: 60px;
                    border-radius: 30px;
                }
            }

            &-fourth {
                background-position-y: 30%;
                margin: 0 auto;
                width: 80%;

                .workshop-item-expanded {
                    height: 350px;
                    grid-column: 1/2;
                    grid-row: 3/4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }
}